* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*outline: 1px solid red !important;*/
}

@font-face {
    font-family: "Gotham";
    font-weight: 100;
    src: url(../fonts/gotham-100.ttf);
}

@font-face {
    font-family: "Gotham";
    font-weight: 300;
    src: url(../fonts/gotham-300.ttf);
}

body {
    font-family: "Lato", sans-serif;
    color: #5d614e;
    font-weight: 300;
}

.title-logo {
    margin-top: 20px
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.text-indented {
    margin-left: 10px;
}

.app-div {
    margin-bottom: 20px;
}

.separation-line {
    border-top: solid #bcbbbb;
    margin: 10px 0 25px;
}

.root {
    /* The page's max width is 950px + Bootstrap's 30px padding */
    max-width: 980px;
}

.title-row {
    margin-top: 30px;
}

.no-margin {
    margin: 0;
}

.mock-font {
    font-family: "Gotham";
}

.modal-body p {
    margin: 15px 10px;
    font-weight: bold;
    text-align: justify;
}

@media screen and (max-width: 575px) {
    h1 {
    font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    .modal-body p {
        font-weight: initial;
    }
}

@media screen and (max-width: 505px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    .text-muted {
        font-weight: bold;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 2.1em;
    }
}

.app-picture {
    width: 350px;
}

.app-picture-modal {
    width: 600px;
}

.modal-title {
    font-weight: bold;
}

@media screen and (max-width: 599px) {
    .app-picture {
        width: 275px;
    }

    .app-picture-modal {
        width: 450px;
    }
}

@media screen and (max-width: 399px) {
    .app-picture {
        width: 200px;
    }

    .app-picture-modal {
        width: 300px;
    }
}